.container{
    width: 90%;
    margin: 0px auto;
}

body{ 
    margin: 0px; 
    background-color: pink; 
}

header{
    background-color:black;
    /* position: fixed; */
}
.clearfix{ clear:both; }

.display{
    /* display: inline; */
    float: left;
    width:40%;
}

.logo{
    width: 15%;
}
