
<h1>All Appointments</h1>
<%= link_to "New Appointment",  new_appointment_path %>

<table>
  <tr>
    <th>Patient Name</th>
    <th>Doctor Name</th>
    <th>Reason for Visit</th>
  </tr>
  <% @appointments.each do |appointment| %>
    <tr>
      <td><%= appointment.patient.name %></td>
      <td><%= appointment.doctor.name %></td>
      <td><%= appointment.reason %></td>
    </tr>
  <% end %>
</table>